[submodule "risk"]
	path = Risk
	url = https://github.com/LazerPlatypus/Risk.git
[submodule "Uno"]
	path = Uno
	url = https://github.com/nmolstad/Uno.git
[submodule "Final-Project"]
	path = Final-Project
	url = https://github.com/DirtyDan00/Final-Project.git
[submodule "BattleshipProject"]
	path = BattleshipProject
	url = https://github.com/464kiki/BattleshipProject.git
